MONGO_URI=mongodb+srv://islah-admin:islah-admin@islah.bthxquw.mongodb.net/
MONGO_DB_NAME=islah

YOUTUBE_API_KEY=
DEFAULT_CHANNEL_ID=UCX8DjjRULDMZub5VRHEYe1g

ANTHROPIC_API_KEY=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

AWS_ACCESS_KEY_ID=AKIARX3Q6X3PPGLOXVCJ
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=ap-south-1
S3_BUCKET_NAME=islah

CORS_ORIGINS=http://localhost:5173
