MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=islah

YOUTUBE_API_KEY=
DEFAULT_CHANNEL_ID=UCX8DjjRULDMZub5VRHEYe1g

ANTHROPIC_API_KEY=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
S3_BUCKET_NAME=

CORS_ORIGINS=http://localhost:5173
